.options-label {
    line-height: 35px;
}
.alert ul {
    margin: 0;
    padding: 0;
}

.alert.alert-danger {
    padding-left: 25px;
}

.label.label-default {
    background-color: #eee;
    color: black;
    letter-spacing: 1px;
}