<html lang="en" ng-app="app">
    <head>
        <title>AWS API</title>

        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">

        <link rel="stylesheet" href="/css/styles.css">

        <base href="/">
    </head>
    <body>

        <div class="container-fluid">
            <div ui-view></div>
        </div
        
        <!-- Vendors -->
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/bower_components/underscore/underscore-min.js"></script>
        <script src="/bower_components/async/dist/async.min.js"></script>

        <script src="/bower_components/angular/angular.min.js"></script>
        <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
        
        <!-- App -->
        <script src="app.js"></script>
        <script src="/js/controllers/app.controllers.js"></script>
    </body>
</html>